* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #5256ad;
}

.navbar {
    overflow: hidden;
    display: block;
    margin-top: 10px;
}

.navbar a, #title {
    display: inline-block;
    color: white;
    font-size: 30px;
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px
}

.navbar label {
    display: inline-block;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar #username {
    float: right;
}

.btn {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 260px;
    top: 570px;
    width: 230px;
}

.btn1 {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    /*right:510px;
    top:570px;*/
    width: 200px;
    margin-right: 7px
}

.btn2 {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    /*right: 260px;
    top: 570px; */
    width: 230px;
    margin-left: 7px;
    margin-right: 7px
}

.btn3 {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    /*right: 10px;
    top: 570px;*/
    width: 230px;
    margin-left: 7px;
}

.op_text {
    margin-right: 100px;
    font-size: 20px;
    font-weight: 50;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 250px;
    width: 500px;
    border: 3px solid #73AD21;
    padding: 10px;
}

/* Darker background on mouse-over */

.btn:hover, .btn1:hover, .btn2:hover, .btn3:hover {
    background-color: rgb(65, 225, 65);
}

.box1 img {
    width: 800px;
    height: 600px;
    object-fit: contain;
    margin-top: 80px;
    margin-left: 20px;
}

.container {
    position: relative;
    padding-left: 25px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    user-select: none;
    color: black;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container:hover input:not(:checked)~.checkmark {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.container .checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.form-holder {
    position: fixed;
    left: 1090px;
    bottom: 200px;
}

.dropbtn {
    border: none;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}

.dropdown:hover .dropbtn {
    background-color: rgb(213, 218, 213);
}